.left-content-wrapper{
    margin-top: 0.5rem;
    // justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
      .profile-content{
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .image-container{
            // filter: drop-shadow(0px 4px 10px rgba(27, 31, 37, 0.25));
            position: relative;
            height: 0;
            // padding-bottom: 100%;
            border-radius: 100%;
            overflow: hidden;
            height: 220px;
            width: 220px;
            img{
              // border-radius: 100%;
              width: 100%;
              object-fit: contain;
              // position: absolute;
              // top: 50%;
              // border-radius: 100%;
              // transform: translate(-50%, -50%);
              }
            }
  
          h2{
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            margin-top: 25px;
            margin-bottom: 0;
          }
  
          p{
            font-size: 24px;
            line-height: 29px;
            margin-top: 10px;
            margin-bottom: 0;
          }
  
          .social-icons{
            display: flex;
            justify-content: center;
            margin-top: 21px;
            a,span{
              display: inline-block;
              width: 21px;
              height: 21px;
              margin-right: 22px;
  
              &:last-child{
                margin-right: 0;
              }
            }
            .facebook-icon{
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url('/images/facebook.svg'); 
            }
            .twitter-icon{
              background-image: url('/images/twitter.svg'); 
            }
            .linkedin-icon{
              background-image: url('/images/linkedin.svg'); 
            }
            .github-icon{
              background-image: url('/images/github.png');
              background-size: contain;
              filter:invert(1);
            }
            .medium-icon{
              background-image: url('/images/medium-logo.svg');
              background-size: contain;
            }
            .instagram-icon{
              background-image: url('/images/instagram-logo.svg');
              background-size: contain;
            }
            .issuu-icon{
              background-image: url('/images/issuu-logo.svg');
              background-size: contain;
            }
          }
        }
  
      .profile-skills{
        background-color: $detail-background-color;
        margin: 28px 0;
        border: 2px solid rgba(27, 36, 53, 0.2);
        border-radius: 8px;
        padding: 15px 21px 25px;
        width: 90%;  
        p{
          margin: 0 0 14px;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
        }
  
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          color: $background-color;
  
          li{
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, $primary-color 0%, $primary-color-light 100%);
            border-radius: 10px;
            margin-bottom: 12px;
            font-size: 12px;
            font-weight: 600;
            line-height: 12px;
            color: $font-color;
            padding: 2px 6px;
            min-height: 16px;
          }
        }
      }
  
    .profile-coursework{
      background-color: $detail-background-color;
      border: $content-border;
      border-radius: 8px;
      padding: 11px 21px;
      width: 90%;  
      // max-height: 6rem;
      // overflow-y: auto;
      // -ms-overflow-style: none;  /* IE and Edge */
      // scrollbar-width: none;  /* Firefox */
      /* Chrome, Safari and Opera */
      // &::-webkit-scrollbar {
      //   display: none;
      // }
        p{
          margin: 0 0 14px;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
        }
  
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
  
          li{
            background-color: $coursework-item-background;
            border-radius: 17px;
            padding: 5px 18px;
            margin: 0 8px 10px 0;
          }
        }
      }
  }
  
  .rightEmptyLayout{
    display: flex;
    margin-top: 40px;
    display: flex;
    width: 60%;
    justify-content: center;
    .profile-skills{
      margin: 0;
      width: 80%;
    }
    .profile-coursework{
      width: 80%;
      margin-left: 20px;
      @media (max-width: 768px){
        margin-left: 0;
        margin-top: 20px;
      }
    }
    @media (max-width: 768px){
      flex-direction: column;
      align-items: center;
      width: 90%;
    }
  }
  .rightNotEmptyLayout{
    display: contents;
  }